In [1]:
from data_loader import DataLoader
from collections import Counter

In [2]:
x_includes = ['video', 'audio', 'time']
dl = DataLoader(r'E:\juno\highlight_generator\data\dataset', x_includes)

In [3]:
dl.all_segment_df

,title,name,index,label,path,subset
0,20220513_KIA_LG,seg_00000_0,0,0,E:\juno\highlight_generator\data\dataset\20220...,valid
1,20220513_KIA_LG,seg_00001_0,1,0,E:\juno\highlight_generator\data\dataset\20220...,valid
2,20220513_KIA_LG,seg_00002_0,2,0,E:\juno\highlight_generator\data\dataset\20220...,valid
3,20220513_KIA_LG,seg_00003_0,3,0,E:\juno\highlight_generator\data\dataset\20220...,valid
4,20220513_KIA_LG,seg_00004_0,4,0,E:\juno\highlight_generator\data\dataset\20220...,valid
...,...,...,...,...,...,...
23227,20220804_KT_NC,seg_02215_0,2215,0,E:\juno\highlight_generator\data\dataset\20220...,train
23228,20220804_KT_NC,seg_02216_0,2216,0,E:\juno\highlight_generator\data\dataset\20220...,train
23229,20220804_KT_NC,seg_02217_0,2217,0,E:\juno\highlight_generator\data\dataset\20220...,train
23230,20220804_KT_NC,seg_02218_0,2218,0,E:\juno\highlight_generator\data\dataset\20220...,train
23231,20220804_KT_NC,seg_02219_0,2219,0,E:\juno\highlight_generator\data\dataset\20220...,train

In [4]:
df = dl.all_segment_df
df[df['index'] == 0]['subset'].value_counts()

train    6
valid    2
test     2
Name: subset, dtype: int64

In [5]:
all_data_count = dl.get_all_data_count()
all_data_count

23232

In [6]:
count_0 = dl.get_data_count_by_label(0)
count_1 = dl.get_data_count_by_label(1)
print(f'label 0: {count_0} ({count_0 / all_data_count:.4f} %)')
print(f'label 1: {count_1} ({count_1 / all_data_count:.4f} %)')

label 0: 22560 (0.9711 %)
label 1: 672 (0.0289 %)

In [7]:
count_train = dl.get_train_data_count()
count_valid = dl.get_valid_data_count()
count_test = dl.get_test_data_count()
print(f'train: {count_train} ({count_train / all_data_count:.4f} %)')
print(f'train: {count_valid} ({count_valid / all_data_count:.4f} %)')
print(f'train: {count_test} ({count_test / all_data_count:.4f} %)')

train: 13836 (0.5956 %)
train: 4608 (0.1983 %)
train: 4788 (0.2061 %)

In [8]:
dl_train_iter = dl.iter_train_batch_data(5000)

for i, (batch_x, batch_y) in enumerate(dl_train_iter):
    print(i, len(batch_x), len(batch_y), Counter(batch_y.squeeze()))

0 3 5000 Counter({0: 4862, 1: 138})
1 3 5000 Counter({0: 4837, 1: 163})

In [9]:
dl_valid_iter = dl.iter_valid_batch_data(5000)

for i, (batch_x, batch_y) in enumerate(dl_valid_iter):
    print(i, len(batch_x), len(batch_y), Counter(batch_y.squeeze()))

0 3 4608 Counter({0: 4489, 1: 119})

In [10]:
dl_test_iter = dl.iter_test_batch_data(5000)

for i, (batch_x, batch_y) in enumerate(dl_test_iter):
    print(i, len(batch_x), len(batch_y), Counter(batch_y.squeeze()))

0 3 4788 Counter({0: 4648, 1: 140})

In [11]:
dl_all_iter = dl.iter_all_batch_data(5000)

for i, (batch_x, batch_y) in enumerate(dl_all_iter):
    print(i, len(batch_x), len(batch_y), Counter(batch_y.squeeze()))

0 3 5000 Counter({0: 4887, 1: 113})
1 3 5000 Counter({0: 4876, 1: 124})
2 3 5000 Counter({0: 4821, 1: 179})
3 3 5000 Counter({0: 4846, 1: 154})
4 3 3232 Counter({0: 3130, 1: 102})

In [12]:
small_train_set = df[(df['index'] == 0) & (df['subset'] == 'train')]['title'][:8]
print(small_train_set)
print('\nsegment count:', len(df[df['title'].isin(small_train_set)]))

2676     20220518_SAMSUNG_HANWHA
5172         20220629_KIA_KIWOOM
11556     20220706_KIWOOM_DOOSAN
16140     20220730_DOOSAN_HANWHA
18492             20220803_KT_NC
21012             20220804_KT_NC
Name: title, dtype: object

segment count: 13836

In [13]:
small_valid_set = df[(df['index'] == 0) & (df['subset'] == 'valid')]['title'][:3]
print(small_valid_set)
print()
print('\nsegment count:', len(df[df['title'].isin(small_valid_set)]))

0              20220513_KIA_LG
9624    20220702_HANWHA_KIWOOM
Name: title, dtype: object


segment count: 4608

In [14]:
small_test_set = df[(df['index'] == 0) & (df['subset'] == 'test')]['title'][:3]
print(small_test_set)
print('\nsegment count:', len(df[df['title'].isin(small_test_set)]))

7260     20220630_KIA_KIWOOM
13716    20220724_SSG_DOOSAN
Name: title, dtype: object

segment count: 4788

In [15]:
all_small_set_df = df[df['title'].isin(small_train_set.append(small_valid_set).append(small_test_set))]
all_small_set_df

C:\Users\USER\AppData\Local\Temp\ipykernel_49408\1146634519.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_small_set_df = df[df['title'].isin(small_train_set.append(small_valid_set).append(small_test_set))]
C:\Users\USER\AppData\Local\Temp\ipykernel_49408\1146634519.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_small_set_df = df[df['title'].isin(small_train_set.append(small_valid_set).append(small_test_set))]

,title,name,index,label,path,subset
0,20220513_KIA_LG,seg_00000_0,0,0,E:\juno\highlight_generator\data\dataset\20220...,valid
1,20220513_KIA_LG,seg_00001_0,1,0,E:\juno\highlight_generator\data\dataset\20220...,valid
2,20220513_KIA_LG,seg_00002_0,2,0,E:\juno\highlight_generator\data\dataset\20220...,valid
3,20220513_KIA_LG,seg_00003_0,3,0,E:\juno\highlight_generator\data\dataset\20220...,valid
4,20220513_KIA_LG,seg_00004_0,4,0,E:\juno\highlight_generator\data\dataset\20220...,valid
...,...,...,...,...,...,...
23227,20220804_KT_NC,seg_02215_0,2215,0,E:\juno\highlight_generator\data\dataset\20220...,train
23228,20220804_KT_NC,seg_02216_0,2216,0,E:\juno\highlight_generator\data\dataset\20220...,train
23229,20220804_KT_NC,seg_02217_0,2217,0,E:\juno\highlight_generator\data\dataset\20220...,train
23230,20220804_KT_NC,seg_02218_0,2218,0,E:\juno\highlight_generator\data\dataset\20220...,train
23231,20220804_KT_NC,seg_02219_0,2219,0,E:\juno\highlight_generator\data\dataset\20220...,train

In [16]:
from sklearn.utils import class_weight

class_weight.compute_class_weight('balanced', classes = [0, 1], y = all_small_set_df['label'].to_numpy())

array([ 0.51489362, 17.28571429])

In [17]:
all_small_set_df['label'].unique()

array([0, 1], dtype=int64)