In [1]:
from data_loader import DataLoader
from collections import Counter

In [3]:
x_includes = ['video', 'audio', 'time']
dl = DataLoader(r'C:\Users\USER\highlight_generator\data\dataset', x_includes)

In [4]:
dl.all_segment_df

,title,name,index,label,path,subset
0,20220513_KIA_LG,seg_00000_0,0,0,C:\Users\USER\highlight_generator\data\dataset...,train
1,20220513_KIA_LG,seg_00001_0,1,0,C:\Users\USER\highlight_generator\data\dataset...,train
2,20220513_KIA_LG,seg_00002_0,2,0,C:\Users\USER\highlight_generator\data\dataset...,train
3,20220513_KIA_LG,seg_00003_0,3,0,C:\Users\USER\highlight_generator\data\dataset...,train
4,20220513_KIA_LG,seg_00004_0,4,0,C:\Users\USER\highlight_generator\data\dataset...,train
...,...,...,...,...,...,...
16778,20220804_KT_NC,seg_02216_0,2216,0,C:\Users\USER\highlight_generator\data\dataset...,train
16779,20220804_KT_NC,seg_02217_0,2217,0,C:\Users\USER\highlight_generator\data\dataset...,train
16780,20220804_KT_NC,seg_02218_0,2218,0,C:\Users\USER\highlight_generator\data\dataset...,train
16781,20220804_KT_NC,seg_02219_0,2219,0,C:\Users\USER\highlight_generator\data\dataset...,train
16782,20220804_KT_NC,seg_02220_0,2220,0,C:\Users\USER\highlight_generator\data\dataset...,train

In [5]:
df = dl.all_segment_df
df[df['index'] == 0]['subset'].value_counts()

train    6
test     1
Name: subset, dtype: int64

In [6]:
all_data_count = dl.get_all_data_count()
all_data_count

16783

In [7]:
count_0 = dl.get_data_count_by_label(0)
count_1 = dl.get_data_count_by_label(1)
print(f'label 0: {count_0} ({count_0 / all_data_count:.4f} %)')
print(f'label 1: {count_1} ({count_1 / all_data_count:.4f} %)')

label 0: 16330 (0.9730 %)
label 1: 453 (0.0270 %)

In [8]:
count_train = dl.get_train_data_count()
count_valid = dl.get_valid_data_count()
count_test = dl.get_test_data_count()
print(f'train: {count_train} ({count_train / all_data_count:.4f} %)')
print(f'train: {count_valid} ({count_valid / all_data_count:.4f} %)')
print(f'train: {count_test} ({count_test / all_data_count:.4f} %)')

train: 14430 (0.8598 %)
train: 0 (0.0000 %)
train: 2353 (0.1402 %)

In [9]:
dl_train_iter = dl.iter_train_batch_data(5000)

for i, (batch_x, batch_y) in enumerate(dl_train_iter):
    print(i, len(batch_x), len(batch_y), Counter(batch_y.squeeze()))

0 3 5000 Counter({0: 4867, 1: 133})
1 3 5000 Counter({0: 4871, 1: 129})

In [10]:
dl_valid_iter = dl.iter_valid_batch_data(5000)

for i, (batch_x, batch_y) in enumerate(dl_valid_iter):
    print(i, len(batch_x), len(batch_y), Counter(batch_y.squeeze()))

In [11]:
dl_test_iter = dl.iter_test_batch_data(5000)

for i, (batch_x, batch_y) in enumerate(dl_test_iter):
    print(i, len(batch_x), len(batch_y), Counter(batch_y.squeeze()))

0 3 2353 Counter({0: 2274, 1: 79})

In [12]:
dl_all_iter = dl.iter_all_batch_data(5000)

for i, (batch_x, batch_y) in enumerate(dl_all_iter):
    print(i, len(batch_x), len(batch_y), Counter(batch_y.squeeze()))

0 3 5000 Counter({0: 4887, 1: 113})
1 3 5000 Counter({0: 4889, 1: 111})
2 3 5000 Counter({0: 4833, 1: 167})
3 3 1783 Counter({0: 1721, 1: 62})

In [13]:
small_train_set = df[(df['index'] == 0) & (df['subset'] == 'train')]['title'][:8]
print(small_train_set)
print('\nsegment count:', len(df[df['title'].isin(small_train_set)]))

0        20220513_KIA_LG
2677      20220518_삼성_한화
5174     20220629_KIA_키움
7263     20220724_SSG_두산
12041     20220803_KT_NC
14562     20220804_KT_NC
Name: title, dtype: object

segment count: 14430

In [14]:
small_valid_set = df[(df['index'] == 0) & (df['subset'] == 'valid')]['title'][:3]
print(small_valid_set)
print()
print('\nsegment count:', len(df[df['title'].isin(small_valid_set)]))

Series([], Name: title, dtype: object)


segment count: 0

In [15]:
small_test_set = df[(df['index'] == 0) & (df['subset'] == 'test')]['title'][:3]
print(small_test_set)
print('\nsegment count:', len(df[df['title'].isin(small_test_set)]))

9688    20220730_두산_한화
Name: title, dtype: object

segment count: 2353

In [16]:
all_small_set_df = df[df['title'].isin(small_train_set.append(small_valid_set).append(small_test_set))]
all_small_set_df

C:\Users\USER\AppData\Local\Temp\ipykernel_27532\1146634519.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_small_set_df = df[df['title'].isin(small_train_set.append(small_valid_set).append(small_test_set))]
C:\Users\USER\AppData\Local\Temp\ipykernel_27532\1146634519.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_small_set_df = df[df['title'].isin(small_train_set.append(small_valid_set).append(small_test_set))]

,title,name,index,label,path,subset
0,20220513_KIA_LG,seg_00000_0,0,0,C:\Users\USER\highlight_generator\data\dataset...,train
1,20220513_KIA_LG,seg_00001_0,1,0,C:\Users\USER\highlight_generator\data\dataset...,train
2,20220513_KIA_LG,seg_00002_0,2,0,C:\Users\USER\highlight_generator\data\dataset...,train
3,20220513_KIA_LG,seg_00003_0,3,0,C:\Users\USER\highlight_generator\data\dataset...,train
4,20220513_KIA_LG,seg_00004_0,4,0,C:\Users\USER\highlight_generator\data\dataset...,train
...,...,...,...,...,...,...
16778,20220804_KT_NC,seg_02216_0,2216,0,C:\Users\USER\highlight_generator\data\dataset...,train
16779,20220804_KT_NC,seg_02217_0,2217,0,C:\Users\USER\highlight_generator\data\dataset...,train
16780,20220804_KT_NC,seg_02218_0,2218,0,C:\Users\USER\highlight_generator\data\dataset...,train
16781,20220804_KT_NC,seg_02219_0,2219,0,C:\Users\USER\highlight_generator\data\dataset...,train
16782,20220804_KT_NC,seg_02220_0,2220,0,C:\Users\USER\highlight_generator\data\dataset...,train

In [20]:
from sklearn.utils import class_weight

class_weight.compute_class_weight('balanced', classes = [0, 1], y = all_small_set_df['label'].to_numpy())

array([ 0.51387018, 18.52428256])

In [21]:
all_small_set_df['label'].unique()

array([0, 1], dtype=int64)